<div class="container">
  <ul>
   <h1>List of All Questions</h1>
   <% if logged_in? %>
   <a href="/questions/new">Add a Question</a>
   <% end %>
    <% @all_questions.each do |question| %>
      <div class="question_entry">
      <h2><a href=<%="/questions/#{question.id}"%>><%= "#{question.title}"%></a></h2>
      <p><%= "by: #{question.author.user_name}"%></p>
      </div>
    <%end%>
  </ul>
</div>
