<form action='/votes' method='post'>  
  <input type='hidden' name='vote[voter_id]' value='<%= current_user.id%>' >
  <input type='hidden' name='vote[votable_id]' value='<%= @answer.id %>' >
  <input type='hidden' name='vote[votable_type]' value='Answer' >
  <input type="submit" value="Vote">
</form>
